body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
}

.weather-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#weatherDetails p {
    margin: 10px 0;
}

#cityInput {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
}

#searchBtn {
    padding: 10px;
    cursor: pointer;
}

#weatherIcon {
    width: 50px;
    height: 50px;
}
.forecast-container {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#hourlyForecast, #dailyForecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.forecast-item {
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}