body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s;
}

#weatherDetails {
    text-align: center;
}

#cityInput {
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    border: none;
    border-radius: 5px;
}

#searchBtn {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #ff9a8b;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Add transition for transform property */
}

#searchBtn:hover {
    background-color: #ff7e68;
    transform: scale(1.1); /* Add a hover scaling effect */
}

.forecast-container {
    margin: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1s;
}

#hourlyForecast, #dailyForecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.forecast-item {
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}